assets/external/
*.py[cod]
.states
.web
.env
.env.*
.venv/
logs/
storage/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
node_modules/
.DS_Store
.idea/
.vscode/
*.egg-info/
*.log
.venv/
.venv/*
logs/
storage/
tasks.md